@import url("https://fonts.googleapis.com/css?family=Montserrat:400,600&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 13px;
  font-family: "Montserrat", sans-serif;
}

.clearfix {
  clear: both;
}

.font8 {
  font-size: 8px;
}

.font9 {
  font-size: 9px;
}

.font10 {
  font-size: 10px;
}

.font11 {
  font-size: 11px;
}

.font12 {
  font-size: 12px;
}

.font13 {
  font-size: 13px;
}

.font14 {
  font-size: 14px;
}

.font15 {
  font-size: 15px;
}

.font16 {
  font-size: 16px;
}

.font17 {
  font-size: 17px;
}

.font18 {
  font-size: 18px;
}

.font19 {
  font-size: 19px;
}

.font20 {
  font-size: 20px;
}

.font21 {
  font-size: 21px;
}

.font22 {
  font-size: 22px;
}

.font23 {
  font-size: 23px;
}

.font24 {
  font-size: 24px;
}

.semibold {
  font-weight: 600;
}

.hide {
  display: none;
}

.flex {
  display: flex;
}

.left {
  float: left;
}

.right {
  float: right;
}

.centerTxt {
  text-align: center;
}

.anchor {
  position: relative;
  top: -250px;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.btn {
  cursor: pointer;
  padding: 10px 15px;
  background-color: mediumseagreen;
  border-radius: 10px;
  margin-top: 20px;
  box-shadow: 0px 5px 5px #2228;
  transition: transform 0.2s, filter 0.2s, box-shadow 0.2s, opacity 0.5s;
}
.btn:hover {
  filter: brightness(89%);
}
.btn:active {
  filter: brightness(80%);
  transform: translateY(3px);
  box-shadow: 0px 2px 5px #2228;
}
.btn.disabled {
  filter: grayscale(0.75);
  cursor: not-allowed;
  transform: translateY(3px);
  box-shadow: 0px 2px 5px #2228;
}
.diffPopup {
  position: absolute;
  background: #222;
  width: min(92vw, 600px);
  min-height: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 5px 5px #fff8;
  padding: 10px;
  border-radius: 10px;
  top: 40%;
  animation: popup 1s;
  will-change: opacity, transform;
}
.diffPopup.hide {
  opacity: 0;
  transform: translateY(30px);
  animation: hide 1s;
}
.diffPopup h3 {
  margin: 0;
  font-size: 26px;
}
.diffPopup .colorCompare {
  display: flex;
}
.diffPopup .colorCompare .swatch {
  border: 1px solid white;
  width: 80px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border-radius: 10px;
  margin: 15px 15px;
}
.diffPopup .stats {
  width: 80%;
  margin: 0 auto;
  font-size: 14px;
}
.diffPopup .stats p {
  font-size: 16px;
  margin: 0 0 10px;
}
.diffPopup .stats .colorName {
  width: 120px;
  display: inline-block;
  font-weight: bold;
  margin: 3px 0;
}
.diffPopup .stats .total {
  font-weight: 600;
}

@keyframes hide {
  100% {
    opacity: 0;
    transform: translateY(30px);
  }
  0% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes popup {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.hexquiz {
  color: whitesmoke;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hexquiz .quizContainer {
  text-align: center;
}
.hexquiz .quizContainer .inputHolder {
  position: relative;
}
.hexquiz .quizContainer h1 {
  text-shadow: 2px 2px 2px #2228;
}
.hexquiz .quizContainer input {
  padding: 10px 15px;
  border-radius: 10px;
  border: #222;
  text-indent: 15px;
  font-family: "Courier New", Courier, monospace;
}
.hexquiz .quizContainer input:focus {
  outline: none;
}
.hexquiz .quizContainer input::placeholder {
  color: lightgray;
}
.hexquiz .quizContainer .hash {
  position: absolute;
  left: 20px;
  top: 9px;
  color: #222;
}

.btn {
  position: relative;
}

.hoverMsg {
  display: none;
  position: absolute;
  background-color: #222;
  box-shadow: 0px 5px 5px #fff8;
  width: 100%;
  bottom: -50px;
  left: 0;
  padding: 10px;
  border-radius: 10px;
}
.hoverMsg::before {
  content: "";
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid #222;
  position: absolute;
  top: -10px;
  left: 50%;
  transform: translateX(-50%);
}
.disabled:hover .hoverMsg {
  display: block;
}

/*# sourceMappingURL=/src.a2b27638.css.map */